{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}

<div class="container marketing ">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">President's Message<span class="text-muted"></span></h2>
            <p class="text-muted"><b>We started our journey in 1989. It has a glorious past, proud present and a
                    promising future. Our ultimate goal is to ensure the all-round development of the students. I am sure
                    that the campus culture of this institute will propel each student to reach unreachable heights and
                    encourage and motivate them to shape their destinies. I am thankful to the teaching and nonteaching
                    staff as they are marching with the same mission and I appreciate and congratulate the parents who
                    trust us. May God bless all those who are involved in this Endeavour and all those who become part
                    of Global Innovative School in the years to come.</b></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                style="width: 250px; height: 250px;"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_181853a7c64%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_181853a7c64%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Director's Message<span class="text-muted"></span></h2>
            <p class="text-muted"><b>Children are the most important assets of any country and the most important human
                    resource for overall development..We have entered the new millennium and as part of a
                    rapidly-changing society it is imperative that an appraisal be made of the psychosocial needs and
                    influences on the child and adolescent who will pass on the baton of the human chain into the coming
                    century. Our School plays a crucial role in the development of cognitive, linguistic, social,
                    emotional and moral functions and competencies in a child. The teacher and the parents are the
                    helping hands to execute our mission. We are greateful to the parents who entrust their children to
                    us with much confidence</b></p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_181853a7c68%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_181853a7c68%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true" style="width: 250px; height: 250px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Principal's Message<span class="text-muted"></span></h2>
            <p class="text-muted"><b>GISParasia is a symbol of progressive and quality education. Our motto captures the
                    essence of our spirit. In our school, children gain an all-round education and achieve their
                    potential not just in the academic field but also in the field of sports and creative arts. Our
                    school is scaling new heights with excellent and reputed professionals training our children in a
                    range of co-curricular activities like sports, dancing. Most importantly, at the school, we are a
                    team of dedicated teachers and staff, committed to the welfare of the children in our care. For us
                    teaching is a passion and a calling. The importance of instilling good values in our students is our
                    prime objective.</b></p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_181853a7c6a%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_181853a7c6a%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                data-holder-rendered="true" style="width: 250px; height: 250px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


</div>
<div class="container-fluid d-flex justify-content-center align-item-center">
    <div class="col-md-8 blog-main">
        <p><b>Global Innovative School Parasia comes under the chain of schools established, managed and run by Vidya
                Niketan Education and Welfare Society. We’re a group of schools dedicated to encouraging students to be
                themselves and explore beyond boundaries. We teach your children to think, explore, and learn with joy.
                Our Aim is to be a premier educational institution that cultivates academic, physical, psychological,
                and social well-being through Excellence in Education and All-Round Development.</b></p>

        <h3>Our Vision</h3>
        <p class="text-muted"><b>Every student is to be transformed into a well-equipped youngster having adequate
                understanding of our rich cultural heritage, along with the latest trends in science, technology and all
                aspects of life; moral and religious awareness coupled with due respect for religious, social, economic
                and emotional values of his/her fellow being, who can ultimately contribute to the betterment of the
                society and the nation.</b></p>
        <h3>Our Mission</h3>
        <ul class="text-muted"><b>
                <li>Help the formation of children in a harmonious development of their physical, mental and moral
                    abilities.</li>
                <li>Make them good citizens, ready to serve the country in the various circumstances of their lives</li>
            </b>

        </ul>
        <h3>Our Motto</h3>
        <ul class="text-muted"><b>
                <li>Hard Work</li>
                <li>Sure Success</li>
                <li>Bright Future</li>
            </b>

        </ul>




    </div>
</div>



{% endblock body %}