{% extends 'base.html' %}
{% block title %}Achievments{% endblock title %}
{% block body %}

<div class="container">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Class</th>
                <th scope="col"></th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Rohan Rai</td>
                <td>10th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>95%</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Raksha Sahu</td>
                <td>10th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>92.2%</td>
            </tr>

            <tr>
                <th scope="row">4</th>
                <td>Mohd. Farhan Ansari</td>
                <td>10th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>91.2%</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Shreya Singh</td>
                <td>10th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>87.6%</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Abhinav Yadav</td>
                <td>10th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>85.4%</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Ashwini Rai</td>
                <td>12th Board</td>
                <td><img src="https://source.unsplash.com/65x92/?selfi" class="img-fluid" alt="Responsive image"></td>
                <td>86.6%</td>
            </tr>
        </tbody>
    </table>


</div>

{% endblock body %}


