{% extends 'base.html' %}
{% block title %}Facilities{% endblock title %}
{% block body %}

<div class="container-fluid d-flex justify-content-center align-items-center my-2">

    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h5>Interactive Class</h5>
            <p>School has interactive classroom through which student can learn through visual methods and live pictures.</p>   
            
            <h5>Functions</h5>
            <p>Various function of the school, such as Annual Science, Art, Cultural, Social Science, Language Exhibition, Annual Sports Day etc. are organized every year. Students with outstanding performance in any field of learning, sports etc are honoured and awarded in felicitation programme. These functions develop in the students self-confidence and affinity for their school. An Annual Function is organized every alternate year to exhibit the talents of the students through interesting and entertaining cultural programs.</p>
            
            <h5>Sports</h5>
            <p>"Healthy body contains healthy mind". With this purpose, the school gives utmost importance to sports. The school provides vast range of games as Badminton, Volleyball, Kho-Kho, Judo, Karate, Yoga, along with indoor games like Carrom, Chess, Table Tennis etc.</p>
            <h5>Library Facility</h5>
            <p>The school library is enriched with a large number of books on curricular, co-curricular and extra curricular topics carefully selected for children. Newspapers (local and national level) and periodical magazines (foreign magazine like Time USA, Spain) are also available in the library to keep the students in touch with the latest developments all around the world.</p>
            <h5>Co-Curricular Activities</h5>
            <p>In order to bring about all round developmeent of the child, co-curricular activities are important as well. Inputes in music, dance, drawing, art, handicraft, moral science and computer operating etc. are given to the students for this purpose. The teachers evaluate these activities throughout the year and grade them accordingly.</p>
            <h5>Seminars and Workshops</h5>
            <p>Regular seminars and workshops are conducted for students as well as teachers, wherein expert dignitaries from various fields are invited to share their thoughts and interact with the students and teachers to improve their respective skills.</p>
            <h5>Medicare</h5>
            <p>The school arranges for regular medical check-ups by senior physicians. Health-record of each child showing his / her heightwise, weightwise and healthwise progress is maintained.</p>
            <h5>CCTV and Cameras</h5>
            <p>Students security and safety is one of the top priorities of our school. Hence CCTV and cameras have been installed at strategic points in the school building as well as classrooms to keep a vigilant eye on activities within and outside the school building.</p>
            <h5>Transportation</h5>
            <p>School have vehical Facilities to ensure safe passage of your loved ones.</p>

            

        </div><!-- /.blog-post -->







    </div>


</div>

{% endblock body %}