{% extends 'base.html' %}
{% block title %}Infrastructure{% endblock title %}
{% block body %}

<div class="container-fluid d-flex justify-content-center align-items-center my-2">

    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h5>Music Room and Dance Room</h5>
            <p>Music is nourishment for the soul and dance is a means to express the unspoken feelings of the heart.
                The school has a well equipped music room and dance room to bring out the hidden artist in a child
                and to provide a refreshing change from the routine academics.</p>

            <h5>Play Ground</h5>
            <p>Realising the importance of physical fitness for the healthy development of its students, the school
                is equipped with a basket ball court and a spacious play ground.</p>

            <h5>Well Equipped Laboratories</h5>
            <p>It is an established fact that subjects like Science, Technology, Environmental Science and Maths are
                not learnt exclusively from text books and other reading material. Keeping this in view GIS provides
                adequate opportunity to learn by doing. The school has well equipped laboratories of Physics,
                Chemistry, Biology, Environmental Science and Mathematics to facilitate students to explore,
                discover and innovate with a sense of joy, a spirit of inquiry and a sense of adventure.</p>
            <h5>Modern Computer Lab</h5>
            <p>The school has two computer laboratories with a good number of computer machines with latest
                softwares to enable students to be constantly aware of the computer operations and uses of the
                software.</p>
            <h5>Audio Visual Library</h5>
            <p>Children love to hear and see interesting stories. Keeping this fact in mind, we at GIS have started
                an Audio Visual Library to provide general knowledge as well as entertainment through interesting
                stories and presentations. This is in addition to our previous well furnished library with a wide
                range of books, periodical, newspapers and magazines.</p>
            <h5>Activity Area</h5>
            <p>To conduct various extra-curricular activities like group discussions, debates, inter-class
                competitions in all classes the school has provided a separate activity room, which contains
                audio-visual aids to help the students in their activities.</p>
            <h5>Pre Primary Zone</h5>
            <p>"Let the child learn and grow without losing his childhood", keeping this in mind, a pre-primary play zone has been set up in the school campus, equipped with latest play equipments for the physical as well as intellectual development of the tiny tots.</p>
            



        </div><!-- /.blog-post -->







    </div>


</div>

{% endblock body %}


